body {
  background: #595959;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0D0D0D, #0D0D0D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0D0D0D, #0D0D0D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Chelsea Market;
  margin: 0px;
}

h1 {
  font-family: 'Chelsea Market';
  font-size: 32px;
}

h2, h3, h4 {
  font-family: 'Chelsea Market';
  font-size: 28px;
}

a, a:hover {
  text-decoration: none;
}

p, ul, ol {
  font-size: 20px;
}

.cadre {
  background: #595959;
  border: 3px solid #8C030E ;
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px grey;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.color-green {
  color: #0D0D0D;
}

.btn-pink {
  display: inline-block;
  color: white;
  background: #8C030E;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-pink:hover {
  color: white;
  opacity: 0.8;
}


.logo {
  height: 60px;
  margin: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #595959;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #8C030E;
}

.link:hover {
  color: #D9C5C1;
}


.line-transparent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line-light {
  height: 5px;
  width: 30%;
  background: #D9C5C1;
}

.line-medium {
  height: 5px;
  width: 30%;
  background: #8C030E;
}

.line-hard {
  height: 5px;
  width: 40%;
  background: #F2F2F2;
}


.horizontal-position {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.cadre-preparartion {
  background: #0D0D0D;
  border: 3px solid #8C030E;
  margin: 0px 0px 0px 10px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

.cadre-ingredients {
  background: #F2F2F2;
  border: 3px solid #8C030E;
  margin: 0px 10px 0px 0px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  width: 1000px;
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.socials {
  font-size: 40px;
  color: #D9C5C1;
}

.color-White{
  color: #F2F2F2
}

